.movieDetails h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.movieDetails .imgContainer {
  display: flex;
  justify-content: center;
}
.movieDetails img {
  height: 50vh;
  width: auto;
  border-radius: 20px;
}

.movieDetails p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}

.movieDetails em {
  color: skyblue;
}

.movieDetails .greenColor {
  color: green;
}
.movieDetails .redColor {
  color: red;
}
