body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aboutAs h1 {
  text-align: center;
  color: #fff;
}
.aboutAs p {
  margin-top: 10px;
  color: #fff;
}
.aboutAs ul li {
  color: #fff;
}
.aboutAs .imgContainer {
  display: flex;
  justify-content: space-around;
}

.aboutAs img:hover {
  cursor: pointer;
}

.contactMe input,
.contactMe textarea,
.contactMe label {
  color: #fff;
  background-color: rgb(17, 7, 7);
}

.contactMe p {
  color: #fff;
}

.contactMe input:focus,
.contactMe input::after,
.contactMe textarea:focus {
  color: #fff;
  background-color: rgb(17, 7, 7);
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.notFound .imgContainer {
  display: flex;
  justify-content: center;
}
.notFound h3 {
  color: #fff;
  text-align: center;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  nav li {
    margin: 10px 0;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  a {
    text-decoration: none;
    color: #fff;
  }
  nav li {
    margin: 10px 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  a {
    text-decoration: none;
    color: #fff;
  }
  nav li {
    margin: 10px 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  nav li {
    margin-left: 30px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  nav li {
    margin-left: 30px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
